<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kMDItemKeywords</key>
	<array>
		<string>fromList</string>
		<string>fromString</string>
		<string>fromNumber</string>
		<string>object</string>
		<string>methods</string>
		<string>fromTuple</string>
		<string>stdClass</string>
		<string>IsDictionary</string>
		<string>IsEmpty</string>
		<string>IsInteger</string>
	</array>
	<key>kMDItemTextContent</key>
	<string>is_array
IsList
IsBoolean
is_bool
IsString
is_string
is_numeric
IsDictionary
If false -&gt; false
IsNumber
if true -&gt; false
if true -&gt; true
Members
fromList
RetainUsing
fromList
Count
fromList
IsIdentical
fromNumber
if 0 -&gt; false
if counts match -&gt; true
IsArray
If false -&gt; false
If count is 0 -&gt; false
if first index is not 0 -&gt; false
Lsst
fromList
count
Minus
fromNumber
From
fromList
array_slice
If 1 ? arr[count - 1] : arr
range
if range matches members -&gt; true
First
fromList
if 1 ? arr[0] : arr
IsInteger
if false -&gt; false
if true -&gt; true
is_integer
if true -&gt; true
floor
IsTuple
if false, false -&gt; false
is_object
if true -&gt; true
is_a stdClass
if true
get_class_methods
get_object_vars
IsEmpty
fromList
if has properties and no methods -&gt; true
IsJson
if false -&gt; false
if shorter than 2 -&gt; false
empty
fromString
IsGreaterThanOrEqualTo
fromNumber
if first char not { -&gt; false
fromString
fromString
fromString
if last char not } -&gt; false
fromString
if false -&gt; false
json_decode
if is error none -&gt; true
json_last_error
IsObject
fi false -&gt; false
if false -&gt; true
strlen
- operator
substr
AsBoolean
fromBoolean
fromString
case as bool
fromNumber
fromList
fromTuple
AsDictionary
fromTuple
if true
array_walk
empty array</string>
</dict>
</plist>
